*{padding:0; margin:0; box-sizing:border-box;}

#container{
    width: 80%;
    height: min-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.img{
    width: 100px;
    height: 100px;
    border:1px solid;
    border-radius: 50%;
    background-color: white;
}

header{
 border:1px solid;
 text-align: center;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 300px;
 width: 100%;
 background-color: #f0dd11;
}

main{
    border:1px solid;  
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    background-color: #ff0059;
}

header > div{
    margin:0.3rem 0;
}

main > div{
    margin:0.3rem 0;
}

.saldo_atual > h3 {
    margin: 0.4rem;
}

.buttons{
    margin-top:0.6rem;
}

.button-Add-withdraw > button{
    margin: 0.9rem 0.3rem;
    width: 70px;
    height: 30px;
}