*{padding:0; margin:0; box-sizing:border-box;}

#container{
    width: 65%;
    height: min-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: rgb(16, 212, 131);
}

.img{
    width: 150px;
    height: 150px;
    border:1px solid;
    border-radius: 50%;
    background-color: white;
}

header{
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 200px;
   width: 100%;
}


main{  
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 200px;
    gap: 7rem;
}

header > div{
    margin:0.3rem 0;
}

main > div{
    margin:0.3rem 0;
}

.saldo_atual > h3 {
    margin: 0.4rem;
}

.buttons{
    margin-top:0.6rem;
}

.buttons > h5{
    margin-top:0.6rem;
    font-size: 1rem;
}

.add-withdraw{
    display: flex;
}

.add-withdraw > div{
   margin: 1rem 1rem;
}

.add-withdraw > div > h4{
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.add-withdraw > div > p{
    font-size: 1.1rem;
    font-weight: 500;
}

.button-Add-withdraw > button{
    margin: 0.9rem 0.3rem;
    width: 70px;
    height: 30px;
}